@use 'fonts.scss';
@use 'normalize.css';

$red: #c9211e;

* {
  font-family: "Source Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  &__name {
    color: $red;
    font-size: 2rem;
    font-weight: 100;
  }

  &__nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main_nav {
  &__link {
    list-style: none;
    margin: 0 15px;
    font-size: 1.2rem;
    img {
      height: 20px;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: $red;
      }
      .current {
        color: $red;
      }
    }
  }
  &__link:hover > &__subnav {
    display: block;
    position: absolute;
    z-index: 1;
  }
  &__subnav {
    display: none;
    list-style: none;
    background-color: #fff;
    a {
      font-size: 0.9rem;
      margin: 15px 0;
      display: block;
    }
  }
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.about_me {
  background-color: lightgray;
  padding: 100px 0;
  &__head {
    font-family: "Source Serif", serif;
  }
  &__content {
    font-size: 1.2rem;
    &--bold {
      font-style: normal;
      font-weight: 600;
    }
  }
}
