@use "../../styles/base";

.footer {
  @include base.container;
  @include base.sans;
  background-color: base.$green-900;
  color: base.$neutral-100;
  flex-shrink: 0;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
  }

  &__textlink {
    color: base.$neutral-100;
  }
}
