@use "../../styles/base";

.header {
  flex: 0 0 auto;
}

.body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: base.$neutral-100;
  color: base.$neutral-900;

  .main {
    @include base.container;
    flex: 1 0 auto;
    background-color: base.$neutral-100;
  }

  &--home {
    background: base.$green-700 url("/images/bg.jpg") center/cover;

    .main {
      background: none;
      position: relative;
      padding: 0;
    }
  }

  .backToHome {
    margin-bottom: 30px;

    a {
      color: base.$green-700;
      transition: color 0.2s ease-in-out;
      text-decoration: none;
      font-size: 1.5rem;

      &:hover {
        color: base.$green-800;
        text-decoration: solid underline;
      }
    }
  }
}

.footer {
  flex: 0 0 auto;
}
