@use "../styles/base";

.footer {
  flex-shrink: 0;
  background-color: base.$green-900;
  padding: 15px 0;

  color: base.$neutral-100;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__textlink {
    color: base.$neutral-100;
  }
}
