@use "../styles/base";

.footer {
  flex-shrink: 0;
  background-color: base.$blue-800;
  padding: 15px 0;

  color: #fff;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__textlink {
    color: #fff;
  }
}
