@use "../styles/base";

.header {
  margin-top: 1rem;
  height: 4rem;
}

.nav {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  padding: 15px;
  margin-top: -1rem;
  margin-left: -1rem;
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out;

  &--open {
    box-shadow: 5px 5px 20px base.$green-200;
  }
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__button {
    background-color: inherit;
    border: none;
    width: 2.2rem;
    font-size: 2rem;
    color: base.$blue-800;
    cursor: pointer;
    order: -1;
    transition: color 0.2s ease-in;
    margin-right: 20px;

    &:hover {
      color: base.$blue-700;
    }
  }

  &__home {
    @include base.serif;
    color: base.$blue-800;
    font-size: 2.4rem;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0.3rem;
    text-decoration: none;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  opacity: 1;
  max-height: 0;
  transition: opacity 0.2s ease-in-out, max-height 0.2s ease-in-out;
  overflow: hidden;

  &--open {
    display: flex;
    opacity: 1;
    max-height: 200px;
  }

  &__item {
    margin: 10px 0;

    &:hover, &--current {
      text-decoration: base.$green-300 solid underline .2rem;
      text-underline-offset: .3rem;
    }

    & a {
      @include base.sans;
      color: base.$green-800;
      text-decoration: none;
      font-size: 1.8rem;
    }

    @at-root hr#{&} {
      color: base.$green-300;
      width: 30%;
    }
  }

  &__socials {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
  }
}

.socials {
  &__item {
    margin: 0 10px;

    & a {
      text-decoration: none;
      color: base.$green-800;
      font-size: 1.8rem;
    }
  }
}
