@use "../styles/base";

.button {
  padding: 12px 17px;
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: background-color 0.5s;
  font-weight: 550;

  &--blue {
    @extend .button;
    background-color: base.$blue-700;

    &:hover {
      background-color: base.$blue-800;
    }
  }

  &--green {
    @extend .button;
    background-color: base.$green-600;

    &:hover {
      background-color: base.$green-700;
    }
  }
}

.list {
  margin-bottom: 10px;
  
  &__item {
    list-style: disc inside;
    font-size: 1.2rem;
    line-height: 1.2;
  }
}
