@use "../../styles/base";

.tags {
  margin-bottom: 5px;

  li {
    display: inline-block;
    padding: 5px 7px;
    border-radius: 3px;
    margin-right: 5px;
    color: base.$neutral-100;
    background-color: base.$blue-800;
    font-size: 1rem;
  }
}
