@use "sass:color";
@use "../styles/base";

$text-color: base.$neutral-100;
$highlight-color: base.$blue-500;
$shadow-color: base.$blue-300;

.intro {
  @include base.container;
  color: base.$neutral-100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .about {
    @include base.serif;
    font-size: 3.6rem;
    margin-bottom: 30px;
    line-height: 1.2;

    @include base.phone {
      font-size: 2.8rem;
    }
  }

  em {
    font-weight: 700;
    font-style: italic;
  }
}

.nav {
  @include base.container;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
  background: base.$neutral-900;
  background: linear-gradient(
    0deg,
    color.change(base.$neutral-900, $alpha: 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  .item {
    @include base.serif;
    font-size: 3.6rem;
    font-weight: 900;
    letter-spacing: 0.16em;
    font-style: italic;
    margin-top: 15px;

    @include base.phone {
      font-size: 2.8rem;
      margin-top: 15px;
    }

    .link {
      color: $text-color;
      text-decoration: none;
      display: block;
      width: fit-content;
      transition: filter 0.2s ease-in-out;
      filter: drop-shadow(2px 2px 0 $highlight-color);

      &:hover {
        filter: drop-shadow(2px 2px 0 $shadow-color);
      }
    }

    .blogpost {
      @include base.sans;
      font-style: normal;
      letter-spacing: normal;
      font-weight: normal;
      font-size: 1rem;
      margin-top: 15px;
      margin-left: 15px;
      display: inline-block;

      .title {
        font-size: 2rem;
        margin-bottom: 5px;
        color: base.$neutral-100;
        text-decoration: none;
        display: inline-block;

        @include base.phone {
          font-size: 1.6rem;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .pubdate {
        font-size: 1rem;
        text-decoration: none;
        color: base.$neutral-100;
      }
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;

    .link {
      color: $text-color;
      transition: all 0.2s ease-in-out;
      filter: drop-shadow(2px 2px 0 $highlight-color);

      &:hover {
        filter: drop-shadow(2px 2px 0 $shadow-color);
      }
    }
  }
}
