// Colors

$blue-100: #e6edf9;
$blue-200: #acc5e8;
$blue-300: #78a2d7;
$blue-400: #4b84c7;
$blue-500: #236ab6;
$blue-600: #175592;
$blue-700: #0e406e;
$blue-800: #072c4b;
$blue-900: #021727;

$green-100: #f6fcf6;
$green-200: #c5ebc2;
$green-300: #96d994;
$green-400: #6bc86b;
$green-500: #47b64a;
$green-600: #308f2d;
$green-700: #216918;
$green-800: #14420a;
$green-900: #081b02;

$yellow-100: #f9f7ee;
$yellow-200: #faeebd;
$yellow-300: #fce48a;
$yellow-400: #fdda57;
$yellow-500: #ffd023;
$yellow-600: #cba71d;
$yellow-700: #967d16;
$yellow-800: #62520e;
$yellow-900: #2d2607;

$red-100: #ffebee;
$red-200: #ffc4ca;
$red-300: #ff9ca6;
$red-400: #ff7581;
$red-500: #ff4d5b;
$red-600: #c73340;
$red-700: #8f1f28;
$red-800: #560f15;
$red-900: #1e0406;

$neutral-100: #f8fcfb;
$neutral-200: #d9dddc;
$neutral-300: #bbbfbe;
$neutral-400: #9ea2a1;
$neutral-500: #818585;
$neutral-600: #666a6a;
$neutral-700: #4c5050;
$neutral-800: #343738;
$neutral-900: #1d2021;

// Fonts
@font-face {
  font-family: "Source Sans";
  src: url(../public/fonts/SourceSans3VF-Roman.otf.woff2)
    format("woff2-variations");
}
@font-face {
  font-family: "Source Sans";
  src: url(../public/fonts/SourceSans3VF-Italic.otf.woff2)
    format("woff2-variations");
  font-style: italic;
}

@font-face {
  font-family: "Source Serif";
  src: url(../public/fonts/SourceSerif4Variable-Roman.otf.woff2)
    format("woff2-variations");
}
@font-face {
  font-family: "Source Serif";
  src: url(../public/fonts/SourceSerif4Variable-Italic.otf.woff2)
    format("woff2-variations");
  font-style: italic;
}

@font-face {
  font-family: "Source Code";
  src: url(../public/fonts/SourceCodeVariable-Roman.otf.woff2)
    format("woff2-variations");
}
@font-face {
  font-family: "Source Code";
  src: url(../public/fonts/SourceCodeVariable-Italic.otf.woff2)
    format("woff2-variations");
  font-style: italic;
}

@mixin serif {
  font-family: Source Serif, Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

@mixin sans {
  font-family: "Source Sans", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
}

@mixin mono {
  font-family: "Source Code", monospace;
}

// Layout
#__next {
  min-height: 100vh;
  @include sans;
}

@mixin container {
  margin: 0 auto;
  max-width: 2560px;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

// Responsive breakpoints
@mixin phone {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1024px) {
    @content;
  }
}
