// Colors
$blue-100: #dff6f7;
$blue-200: #b5eaef;
$blue-300: #89dee8;
$blue-400: #5bcfe4;
$blue-500: #2bc0e1;
$blue-600: #169dc4;
$blue-700: #0e769a;
$blue-800: #08506e;
$blue-900: #032c40;

$green-100: #e9fbe7;
$green-200: #c9dbc7;
$green-300: #a9bca8;
$green-400: #8b9d8a;
$green-500: #6e806d;
$green-600: #526451;
$green-700: #374937;
$green-800: #1e301e;
$green-900: #031901;

$neutral-100: #f8fcfb;
$neutral-200: #d9dddc;
$neutral-300: #bbbfbe;
$neutral-400: #9ea2a1;
$neutral-500: #818585;
$neutral-600: #666a6a;
$neutral-700: #4c5050;
$neutral-800: #343738;
$neutral-900: #1d2021;

// Fonts
@font-face {
  font-family: "Source Sans";
  src: url(../public/fonts/SourceSans3VF-Roman.otf.woff2)
    format("woff2-variations");
}
@font-face {
  font-family: "Source Sans";
  src: url(../public/fonts/SourceSans3VF-Italic.otf.woff2)
    format("woff2-variations");
  font-style: italic;
}

@font-face {
  font-family: "Source Serif";
  src: url(../public/fonts/SourceSerif4Variable-Roman.otf.woff2)
    format("woff2-variations");
}
@font-face {
  font-family: "Source Serif";
  src: url(../public/fonts/SourceSerif4Variable-Italic.otf.woff2)
    format("woff2-variations");
  font-style: italic;
}

@font-face {
  font-family: "Source Code";
  src: url(../public/fonts/SourceCodeVariable-Roman.otf.woff2)
    format("woff2-variations");
}
@font-face {
  font-family: "Source Code";
  src: url(../public/fonts/SourceCodeVariable-Italic.otf.woff2)
    format("woff2-variations");
  font-style: italic;
}

@mixin serif {
  font-family: Source Serif, Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

@mixin sans {
  font-family: "Source Sans", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
}

@mixin mono {
  font-family: "Source Code", monospace;
}

.body {
  @include sans;
}

// Layout
.html {
  height: 100%;
  .body {
    height: 100%;

    #__next {
      height: 100%;
    }
  }
}

@mixin container {
  margin: 0 auto;
  max-width: 2560px;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

// Responsive breakpoints
@mixin phone {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 992px) {
    @content;
  }
}
