@use "base";

.about-me {
  &__h1 {
    @include base.serif;
    font-size: 1.8rem;
    text-decoration: base.$green-400 solid underline 0.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__section {
    margin-bottom: 20px;
  }

  &__description {
    font-size: 1.2rem;
    margin-bottom: 10px;
    max-width: 850px;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;

  & li {
    margin-right: 15px;
  }

  &__icon {
    font-size: 2rem;
    
    & a {
      transition: color 0.3s ease-in-out;
      color: base.$blue-700;
      text-decoration: none;

      &:hover {
        color: base.$blue-800;
      }
    }
  }
}
