@use "base";

.about-me {
  &__layout {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  &__photo {
    margin-bottom: 20px;

    & img {
      border-radius: 50%;
    }
  }

  &__content {
    width: 700px;
  }

  &__description {
    max-width: 850px;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;

  & li {
    list-style: none;
    margin-right: 15px;
  }

  &__icon {
    font-size: 2rem;

    & a {
      transition: color 0.2s ease-in-out;
      color: base.$blue-700;
      text-decoration: none;

      &:hover {
        color: base.$blue-800;
      }
    }
  }
}
