@use "../styles/base";

.blog {
  @include base.container;

  &__filter {
    max-width: 1000px;
    margin: 0 auto;
    background-color: base.$green-200;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;

    .filter {
      &__title {
        @include base.serif;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
      &__current {
        cursor: pointer;
        margin-bottom: 10px;
        display: inline-block;
        
        p {
          text-decoration: underline;
          display: inline-block;
        }
        
        span {
          font-weight: bold;
        }
      }
    }
  }

  &__list {
    max-width: 1000px;
    margin: 0 auto;
  }
  .list {
    &__item {
      margin-bottom: 20px;
      text-decoration: none;
      width: fit-content;
      .item {
        &__link {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        &__title {
          @include base.serif;
          color: base.$neutral-900;
          font-size: 1.6rem;
          font-weight: bold;
          display: block;
          width: fit-content;
          margin-bottom: 5px;
          text-decoration: none;
        }

        &__pubdate {
          color: base.$neutral-900;
          text-decoration: none;
          margin-bottom: 2px;
          display: block;
          width: fit-content;
        }
      }
    }
  }
}
