@font-face {
  font-family: "Source Sans";
  src: url(../public/fonts/SourceSans3VF-Roman.otf.woff2)
    format("woff2-variations");
}
@font-face {
  font-family: "Source Sans";
  src: url(../public/fonts/SourceSans3VF-Italic.otf.woff2)
    format("woff2-variations");
  font-style: italic;
}

@font-face {
  font-family: "Source Serif";
  src: url(../public/fonts/SourceSerif4Variable-Roman.otf.woff2)
    format("woff2-variations");
}
@font-face {
  font-family: "Source Serif";
  src: url(../public/fonts/SourceSerif4Variable-Italic.otf.woff2)
    format("woff2-variations");
  font-style: italic;
}

$blue-100: #dff6f7;
$blue-200: #b5eaef;
$blue-300: #89dee8;
$blue-400: #5bcfe4;
$blue-500: #2bc0e1;
$blue-600: #169dc4;
$blue-700: #0e769a;
$blue-800: #08506e;
$blue-900: #032c40;

$green-100: #e9fbe7;
$green-200: #c9dbc7;
$green-300: #a9bca8;
$green-400: #8b9d8a;
$green-500: #6e806d;
$green-600: #526451;
$green-700: #374937;
$green-800: #1e301e;
$green-900: #031901;

$neutral-100: #f3faf8;
$neutral-200: #d5dbda;
$neutral-300: #b7bdbd;
$neutral-400: #9aa0a0;
$neutral-500: #7f8484;
$neutral-600: #64696a;
$neutral-700: #4b4f50;
$neutral-800: #333738;
$neutral-900: #1d2021;

.body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: $neutral-900;

  font-family: "Source Sans", sans-serif;
}

@mixin wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

@mixin serif {
  font-family: "Source Serif", Times, "Times New Roman", Georgia, serif;
}
