@use "base";

.intro {
  color: base.$neutral-100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__title {
    @include base.serif;
    font-size: 3.6rem;
    margin-bottom: 30px;
    line-height: 1.2;

    @include base.phone {
      font-size: 2.4rem;
    }
  }

  &__blurb {
    font-size: 1.8rem;
    line-height: 1.2;
    max-width: 850px;
    margin-bottom: 10px;
  }

  em {
    font-weight: 700;
    color: base.$green-100;
    font-style: italic;
  }
}

.nav {
  margin-bottom: 30px;
  &__item {
    @include base.serif;
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: 0.16em;
    font-style: italic;
    margin-top: 20px;

    a {
      color: base.$green-100;
      text-decoration: none;

      span {
        transition: text-decoration 0.2s ease-in-out;
        text-decoration: solid underline 0rem base.$green-100;
        &:hover {
          text-decoration: solid underline 0.2rem base.$green-100;
        }
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: row;

    li {
      margin-right: 30px;
    }
  }
}
